/* Variables */
$color-primary: #b68834;
$color-headings: #000;
$color-section-subtitle: #777;
$color-section-description: #777;

/* Basic Style */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* 62.5% of 16px => 10px */
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.25;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* Typography */
h1,
h2,
h3 {
  font-weight: 700;
  margin: 0;
  color: $color-headings;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 10rem;
  }

  h2 {
    font-size: 3.4rem;
  }

  h3 {
    font-size: 2.8rem;
  }
}

p,
a,
span,
button,
input,
li {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}
