<section class="block coffee-types-block">
    <h2 class="block__heading">What kind of Coffee we serve for you</h2>
    <h3 class="block__subtitle">Who are in extremely love with eco friendly system.</h3>
    <ul class="list grid grid--3x3">
        <li class="list__item coffee-item">
            <div class="coffee-item__header">
                <h3 class="coffee-item__name">Cappuccino</h3>
                <span class="coffee-item__price">$49</span>
            </div>
            <p class="coffee-item__description">
                Usage of the Internet is becoming more common due to rapid advance.
            </p>
        </li>
        <li class="list__item coffee-item">
            <div class="coffee-item__header">
                <h3 class="coffee-item__name">Americano</h3>
                <span class="coffee-item__price">$49</span>
            </div>
            <p class="coffee-item__description">
                Usage of the Internet is becoming more common due to rapid advance.
            </p>
        </li>
        <li class="list__item coffee-item">
            <div class="coffee-item__header">
                <h3 class="coffee-item__name">Espresso</h3>
                <span class="coffee-item__price">$49</span>
            </div>
            <p class="coffee-item__description">
                Usage of the Internet is becoming more common due to rapid advance.
            </p>
        </li>
        <li class="list__item coffee-item">
            <div class="coffee-item__header">
                <h3 class="coffee-item__name">Macchiato</h3>
                <span class="coffee-item__price">$49</span>
            </div>
            <p class="coffee-item__description">
                Usage of the Internet is becoming more common due to rapid advance.
            </p>
        </li>
        <li class="list__item coffee-item">
            <div class="coffee-item__header">
                <h3 class="coffee-item__name">Mocha</h3>
                <span class="coffee-item__price">$49</span>
            </div>
            <p class="coffee-item__description">
                Usage of the Internet is becoming more common due to rapid advance.
            </p>
        </li>
        <li class="list__item coffee-item">
            <div class="coffee-item__header">
                <h3 class="coffee-item__name">Coffee Latte</h3>
                <span class="coffee-item__price">$49</span>
            </div>
            <p class="coffee-item__description">
                Usage of the Internet is becoming more common due to rapid advance.
            </p>
        </li>
        <li class="list__item coffee-item">
            <div class="coffee-item__header">
                <h3 class="coffee-item__name">Piccolo Latte</h3>
                <span class="coffee-item__price">$49</span>
            </div>
            <p class="coffee-item__description">
                Usage of the Internet is becoming more common due to rapid advance.
            </p>
        </li>
        <li class="list__item coffee-item">
            <div class="coffee-item__header">
                <h3 class="coffee-item__name">Ristretto</h3>
                <span class="coffee-item__price">$49</span>
            </div>
            <p class="coffee-item__description">
                Usage of the Internet is becoming more common due to rapid advance.
            </p>
        </li>
        <li class="list__item coffee-item">
            <div class="coffee-item__header">
                <h3 class="coffee-item__name">Affogato</h3>
                <span class="coffee-item__price">$49</span>
            </div>
            <p class="coffee-item__description">
                Usage of the Internet is becoming more common due to rapid advance.
            </p>
        </li>
    </ul>
</section>