<div class="block coffee-images-block">
    <h2 class="block__heading">What kind of Coffee we serve for you</h2>
    <h3 class="block__subtitle">Who are in extremely love with eco friendly system.</h3>
    <div class="grid grid--3x3">
        <div class="coffee-images-block__image">
            <picture>
                <source type="image/webp"
                    srcset="assets/image/cup_of_black_coffee_and_coffee_beans_320w.webp 320w, assets/image/cup_of_black_coffee_and_coffee_beans_640w.webp 640w">
                <source type="image/png"
                    srcset="assets/image/cup_of_black_coffee_and_coffee_beans_320w.png 320w, assets/image/cup_of_black_coffee_and_coffee_beans_640w.png 640w">
                <img src="assets/image/cup_of_black_coffee_and_coffee_beans_320w.png"
                    alt="Cup of black coffee and coffee beans">
            </picture>
        </div>
        <div class="coffee-images-block__image">
            <picture>
                <source type="image/webp"
                    srcset="assets/image/two_person_in_front_of_coffee_table_320w.webp 320w, assets/image/two_person_in_front_of_coffee_table_640w.webp 640w">
                <source type="image/png"
                    srcset="assets/image/two_person_in_front_of_coffee_table_320w.png 320w, assets/image/two_person_in_front_of_coffee_table_640w.png 640w">
                <img src="assets/image/two_person_in_front_of_coffee_table_320w.png"
                    alt="Two person in front of coffee table">
            </picture>
        </div>
        <div class="coffee-images-block__image">
            <picture>
                <source type="image/webp"
                    srcset="assets/image/black_espresso_maker_with_cup_320w.webp 320w, assets/image/black_espresso_maker_with_cup_640w.webp 640w">
                <source type="image/png"
                    srcset="assets/image/black_espresso_maker_with_cup_320w.png 320w, assets/image/black_espresso_maker_with_cup_640w.png 640w">
                <img src="assets/image/black_espresso_maker_with_cup_320w.png" alt="Black espresso maker with cup">
            </picture>
        </div>
        <div class="coffee-images-block__image">
            <picture>
                <source type="image/webp"
                    srcset="assets/image/filling_clear_glass_mug_with_coffee_320w.webp 320w, assets/image/filling_clear_glass_mug_with_coffee_640w.webp 640w">
                <source type="image/png"
                    srcset="assets/image/filling_clear_glass_mug_with_coffee_320w.png 320w, assets/image/filling_clear_glass_mug_with_coffee_640w.png 640w">
                <img src="assets/image/filling_clear_glass_mug_with_coffee_320w.png"
                    alt="Filling clear glass mug with coffee">
            </picture>
        </div>
        <div class="coffee-images-block__image">
            <picture>
                <source type="image/webp"
                    srcset="assets/image/closeup_of_coffee_cup_320w.webp 320w, assets/image/closeup_of_coffee_cup_640w.webp 640w">
                <source type="image/png"
                    srcset="assets/image/closeup_of_coffee_cup_320w.png 320w, assets/image/closeup_of_coffee_cup_640w.png 640w">
                <img src="assets/image/closeup_of_coffee_cup_320w.png" alt="Closeup of coffee cup">
            </picture>
        </div>
    </div>
</div>