<footer class="app-footer grid grid--1x3">
    <div class="section">
        <h2 class="app-footer__heading">About Us</h2>
        <p class="app-footer__description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
            dolore magna aliqua.
        </p>
        <p class="app-footer__copyright">Copyright &copy;2021 All rights reserved</p>
    </div>
    <div class="section">
        <h2 class="app-footer__heading">Newsletter</h2>
        <p class="app-footer__description">
            Stay update with our latest
        </p>
        <form class="app-footer__form" method="post">
            <div class="form-control">
                <input type="email" class="form-control__input" placeholder="Your Email..." minlength="10"
                    maxlength="60" required>
                <button class="form-control__submit-btn">
                    <i class="bx bx-chevron-right"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="section">
        <h2 class="app-footer__heading">Follow Us</h2>
        <p class="app-footer__description">
            Let us be social
        </p>
        <div class="app-footer__social_media">
            <a href="https://www.instagram.com/" class="sm-link">
                <i class="bx bxl-instagram"></i>
            </a>
            <a href="https://twitter.com/" class="sm-link">
                <i class="bx bxl-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/" class="sm-link">
                <i class="bx bxl-linkedin"></i>
            </a>
            <a href="https://telegram.org/" class="sm-link">
                <i class="bx bxl-telegram"></i>
            </a>
        </div>
    </div>
</footer>