<section class="block posts-block">
    <h2 class="block__heading">What kind of Coffee we serve for you</h2>
    <p class="block__description">Who are in extremely love with eco friendly system.</p>
    <ul class="list grid grid--1x2">
        <li class="list__item post">
            <div class="post__image">
                <picture>
                    <source type="image/webp"
                        srcset="assets/image/performing_coffee_art_320w.webp 320w, assets/image/performing_coffee_art_640w.webp 640w">
                    <source type="image/png"
                        srcset="assets/image/performing_coffee_art_320w.png 320w, assets/image/performing_coffee_art_640w.png 640w">
                    <img src="assets/image/performing_coffee_art_320w.png" alt="Performing coffee art">
            </div>
            <h3 class="post__title">Portable latest Fashion for young women</h3>
            <p class="post__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                et dolore.
            </p>
            <date class="post__date">31st January, 2018</date>
        </li>
        <li class="list__item post">
            <div class="post__image">
                <picture>
                    <source type="image/webp"
                        srcset="assets/image/black_coffee_in_stainless_steel_scoop_320w.webp 320w, assets/image/black_coffee_in_stainless_steel_scoop_640w.webp 640w">
                    <source type="image/png"
                        srcset="assets/image/black_coffee_in_stainless_steel_scoop_320w.png 320w, assets/image/black_coffee_in_stainless_steel_scoop_640w.png 640w">
                    <img src="assets/image/black_coffee_in_stainless_steel_scoop_320w.png"
                        alt="Black coffee in stainless steel scoop">
            </div>
            <h3 class="post__title">Portable latest Fashion for young women</h3>
            <p class="post__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                et dolore.
            </p>
            <date class="post__date">31st January, 2018</date>
        </li>
    </ul>
</section>