<section class="block block--primary statistics-block">
    <h2 class="block__heading">What kind of Coffee we serve for you</h2>
    <h3 class="block__subtitle">Who are in extremely love with eco friendly system.</h3>
    <ul class="list grid grid--1x4">
        <li class="list__item">
            <span class="statistics-block__amount">2536</span>
            <h3 class="statistics-block__title">Happy Client</h3>
        </li>
        <li class="list__item">
            <span class="statistics-block__amount">7562</span>
            <h3 class="statistics-block__title">Total Projects</h3>
        </li>
        <li class="list__item">
            <span class="statistics-block__amount">2013</span>
            <h3 class="statistics-block__title">Cups Coffee</h3>
        </li>
        <li class="list__item">
            <span class="statistics-block__amount">10536</span>
            <h3 class="statistics-block__title">Total Submitted</h3>
        </li>
    </ul>
</section>