<section class="block telecast-block">
    <div class="grid grid--1x2">
        <div class="telecast-block__image">
            <picture>
                <source type="image/webp" srcset="assets/image/coffee_machine_320w.webp 320w,
                assets/image/coffee_machine_640w.webp 640w,
                assets/image/coffee_machine_1280w.webp 1280w">
                <source type="image/jpg" srcset="assets/image/coffee_machine_320w.jpg 320w,
                assets/image/coffee_machine_640w.jpg 640w,
                assets/image/coffee_machine_1280w.jpg 1280w">
                <img src="assets/image/coffee_machine_640w.jpg" alt="Coffee Machine">
            </picture>
        </div>
        <div class="telecast-block__content">
            <h3 class="block__hint">LIVE COFFEE MAKING PROCESS.</h3>
            <h2 class="block__heading">We Telecast Our Coffee Making Live</h2>
            <h3 class="block__subtitle">We are here to listen from you deliver exellence</h3>
            <p class="block__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim.
            </p>
        </div>
    </div>
</section>